In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

In [2]:
#load csv file data with headers
location = "datasets/DC_Properties.csv"
df = pd.read_csv(location, low_memory=False)

In [3]:
df.head()

,Unnamed: 0,BATHRM,HF_BATHRM,HEAT,AC,NUM_UNITS,ROOMS,BEDRM,AYB,YR_RMDL,...,LONGITUDE,ASSESSMENT_NBHD,ASSESSMENT_SUBNBHD,CENSUS_TRACT,CENSUS_BLOCK,WARD,SQUARE,X,Y,QUADRANT
0,0,4,0,Warm Cool,Y,2.0,8,4,1910.0,1988.0,...,-77.040832,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.040429,38.914881,NW
1,1,3,1,Warm Cool,Y,2.0,11,5,1898.0,2007.0,...,-77.040764,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.040429,38.914881,NW
2,2,3,1,Hot Water Rad,Y,2.0,9,5,1910.0,2009.0,...,-77.040678,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.040429,38.914881,NW
3,3,3,1,Hot Water Rad,Y,2.0,8,5,1900.0,2003.0,...,-77.040629,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.040429,38.914881,NW
4,4,2,1,Warm Cool,Y,1.0,11,3,1913.0,2012.0,...,-77.039361,Old City 2,040 D Old City 2,4201.0,004201 2006,Ward 2,0152,-77.040429,38.914881,NW

In [4]:
df.keys()

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [17]:
df.columns

Index(['Unnamed: 0', 'BATHRM', 'HF_BATHRM', 'HEAT', 'AC', 'NUM_UNITS', 'ROOMS',
       'BEDRM', 'AYB', 'YR_RMDL', 'EYB', 'STORIES', 'SALEDATE', 'PRICE',
       'QUALIFIED', 'SALE_NUM', 'GBA', 'BLDG_NUM', 'STYLE', 'STRUCT', 'GRADE',
       'CNDTN', 'EXTWALL', 'ROOF', 'INTWALL', 'KITCHENS', 'FIREPLACES',
       'USECODE', 'LANDAREA', 'GIS_LAST_MOD_DTTM', 'SOURCE', 'CMPLX_NUM',
       'LIVING_GBA', 'FULLADDRESS', 'CITY', 'STATE', 'ZIPCODE', 'NATIONALGRID',
       'LATITUDE', 'LONGITUDE', 'ASSESSMENT_NBHD', 'ASSESSMENT_SUBNBHD',
       'CENSUS_TRACT', 'CENSUS_BLOCK', 'WARD', 'SQUARE', 'X', 'Y', 'QUADRANT'],
      dtype='object')

In [6]:
df.shape

(158957, 49)

In [7]:
print(df.CNDTN)

0              Good
1              Good
2         Very Good
3              Good
4              Good
5              Good
6           Average
7           Average
8         Very Good
9           Average
10             Fair
11          Average
12          Average
13          Average
14        Very Good
15          Average
16        Very Good
17          Average
18             Good
19             Good
20        Very Good
21             Good
22             Good
23        Very Good
24             Good
25             Good
26          Average
27          Average
28          Average
29        Very Good
            ...
158927          NaN
158928          NaN
158929          NaN
158930          NaN
158931          NaN
158932          NaN
158933          NaN
158934          NaN
158935          NaN
158936          NaN
158937          NaN
158938          NaN
158939          NaN
158940          NaN
158941          NaN
158942          NaN
158943          NaN
158944          NaN
158945          NaN
158946          NaN
158947          NaN
158948          NaN
158949          NaN
158950          NaN
158951          NaN
158952          NaN
158953          NaN
158954          NaN
158955          NaN
158956          NaN
Name: CNDTN, Length: 158957, dtype: object

In [8]:
print(df.WARD)

0         Ward 2
1         Ward 2
2         Ward 2
3         Ward 2
4         Ward 2
5         Ward 2
6         Ward 2
7         Ward 2
8         Ward 2
9         Ward 2
10        Ward 2
11        Ward 2
12        Ward 2
13        Ward 2
14        Ward 2
15        Ward 2
16        Ward 2
17        Ward 2
18        Ward 2
19        Ward 2
20        Ward 2
21        Ward 2
22        Ward 2
23        Ward 2
24        Ward 2
25        Ward 2
26        Ward 2
27        Ward 2
28        Ward 2
29        Ward 2
           ...
158927    Ward 6
158928    Ward 6
158929    Ward 6
158930    Ward 6
158931    Ward 6
158932    Ward 6
158933    Ward 6
158934    Ward 6
158935    Ward 6
158936    Ward 6
158937    Ward 6
158938    Ward 6
158939    Ward 6
158940    Ward 6
158941    Ward 6
158942    Ward 6
158943    Ward 6
158944    Ward 6
158945    Ward 6
158946    Ward 6
158947    Ward 6
158948    Ward 6
158949    Ward 6
158950    Ward 6
158951    Ward 6
158952    Ward 6
158953    Ward 6
158954    Ward 6
158955    Ward 6
158956    Ward 6
Name: WARD, Length: 158957, dtype: object

In [9]:
print(df.PRICE)

0         1095000.0
1               NaN
2         2100000.0
3         1602000.0
4               NaN
5         1950000.0
6               NaN
7         1050000.0
8         1430000.0
9               NaN
10              NaN
11              NaN
12              NaN
13              NaN
14        1325000.0
15              NaN
16        1240000.0
17              NaN
18              NaN
19         592250.0
20          33232.0
21              NaN
22         907400.0
23        1065000.0
24        1100000.0
25          20000.0
26              NaN
27         703700.0
28              NaN
29        1210000.0
            ...
158927          NaN
158928     632400.0
158929     574000.0
158930     365000.0
158931     405000.0
158932     505000.0
158933     520000.0
158934     499900.0
158935     451000.0
158936     564900.0
158937          NaN
158938     660000.0
158939     380000.0
158940          NaN
158941          NaN
158942          NaN
158943     539000.0
158944     908500.0
158945     450000.0
158946     485355.0
158947     320000.0
158948     460000.0
158949     550000.0
158950     635000.0
158951     389000.0
158952     399900.0
158953     416000.0
158954     600000.0
158955     215100.0
158956          NaN
Name: PRICE, Length: 158957, dtype: float64

In [19]:
test_df=pd.DataFrame(df.PRICE)
test_df.head()

       PRICE
0  1095000.0
1        NaN
2  2100000.0
3  1602000.0
4        NaN

In [29]:
test_df.keys=df.WARD
test_df.head()

       PRICE
0  1095000.0
1        NaN
2  2100000.0
3  1602000.0
4        NaN

In [43]:
from sklearn.linear_model import LinearRegression
X = test_df.drop('PRICE', axis = 1)

#assign linear regression function to a variable
lm = LinearRegression()
lm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)


Important functions to keep in mind while fitting a linear regression model are:
lm.fit() -> fits a linear model 
lm.predict() -> Predict Y using the linear model with estimated coefficients 
lm.score() -> Returns the coefficient of determination (R^2). A measure of how well observed outcomes are replicated by the model, as the proportion of total variation of outcomes explained by the model.

In [48]:
lm.fit(X, test_df.PRICE)

ValueError: Found array with 0 feature(s) (shape=(158957, 0)) while a minimum of 1 is required.